<%- include('../partials/head') %>
<h1><%= data.topic %></h1>

<br />

<p><%= data.question %></p>

<br />

<p>Author: <%= data.author %></p>
<br /><br />
<h3>Responses:</h3>
<% responses.forEach(response => { %>
<div class="card" style="width: 60rem">
	<div class="card-body">
		<h5 class="card-title"><%= response.comment %></h5>
		<p class="card-text">Author: <%= response.author %></p>
	</div>
</div>
<br />
<% }) %>
<form role="form" method="POST" action="/api/comment">
	<h4>Respond to this question!</h4>
	<input type="hidden" name="postid" value="<%= rowid %>" />
	<div class="form-group">
		<label for="firstName">First name</label>
		<input
			type="text"
			class="form-control"
			id="firstName"
			name="firstName"
			aria-describedby="first name"
			placeholder="Enter first name (OPTIONAL)"
		/>
	</div>
	<br />
	<div class="form-group">
		<label for="comment">Answer</label>
		<input
			type="text"
			class="form-control"
			id="comment"
			name="comment"
			aria-describedby="comment"
			placeholder="Enter response"
			required
		/>
	</div>
	<br />
	<button type="submit" class="btn btn-primary">Submit</button>
</form>
<%- include('../partials/footer') %>
